In [16]:
pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5567 sha256=5f7ce176e27088ff965e72578562eec41731a15a0103726294a5ecb419a01d58
  Stored in directory: c:\users\al madina computer\appdata\local\pip\cache\wheels\a0\4a\5b\d2f2df5c344ddbecb8bea759872c207ea91d93f57fb54e816e
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1
Note: you may need to restart the kernel to use updated packages.

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from word2number import w2n

In [18]:
df=pd.read_csv(r'C:/Users/AL MADINA COMPUTER/Desktop/Machine Learning/iringsalarydata.csv')
df.head(2)

  experience  score  interview  salary
0       zero    8.0          9   50000
1       zero    8.0          6   45000

In [19]:
df.isnull().sum()

experience    0
score         1
interview     0
salary        0
dtype: int64

In [ ]:
#df.experiance=df.experiance.fillna("zero")

In [20]:
df.score.median()

8.0

In [21]:
df['score']=df.score.fillna(df.score.median())

In [10]:
df

  experience  score  interview  salary
0       zero    8.0          9   50000
1       zero    8.0          6   45000
2       five    6.0          7   60000
3        two   10.0         10   65000
4      seven    9.0          6   70000
5      three    7.0         10   62000
6        ten    8.0          7   72000
7     eleven    7.0          8   80000

In [26]:
df.experience=df.experience.apply(w2n.word_to_num)

ValueError: Type of input is not string! Please enter a valid number word (eg. 'two million twenty three thousand and forty nine')

In [27]:
df

   experience  score  interview  salary
0           0    8.0          9   50000
1           0    8.0          6   45000
2           5    6.0          7   60000
3           2   10.0         10   65000
4           7    9.0          6   70000
5           3    7.0         10   62000
6          10    8.0          7   72000
7          11    7.0          8   80000

In [28]:
ind=df.drop(['salary'], axis='columns')

In [29]:
dep=df.salary

In [30]:
reg=linear_model.LinearRegression()
reg.fit(ind, dep)

LinearRegression()

In [32]:
reg.predict([[2,9,6]])

C:\Users\AL MADINA COMPUTER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])

In [33]:
reg.predict([[12,10,10]])

C:\Users\AL MADINA COMPUTER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92002.18340611])