In [1]:
import pandas as pd
df=pd.read_csv('C:/Users/AL MADINA COMPUTER/Desktop/Machine Learning/height.csv')
df.head()

    Name  Height
0   moan     5.2
1  maria     5.1
2  sakib     5.5
3    tao     4.9
4  virat     5.4

In [8]:
Q1=df.Height.quantile(0.25)
Q3=df.Height.quantile(0.75)
Q1, Q3

(5.425000000000001, 6.949999999999999)

In [9]:
IQR=Q3-Q1

In [10]:
lower_limit=Q1-1.5*IQR
upper_limit=Q3-1.5*IQR
lower_limit, upper_limit

(3.137500000000003, 4.662500000000001)

In [11]:
df[(df.Height < lower_limit) | (df.Height > upper_limit)]

       Name  Height
0      moan     5.2
1     maria     5.1
2     sakib     5.5
3       tao     4.9
4     virat     5.4
5   khushbu     6.2
6    dmitry     6.5
7    selena     7.1
8      john    15.5
9     imran     7.1
10     jose    14.5
11  deepika     6.1
12    yosep     5.6
13    binod     5.5

In [13]:
df_no_outlier=df[(df.Height > lower_limit)&(df.Height < upper_limit)]
df_no_outlier

Empty DataFrame
Columns: [Name, Height]
Index: []