# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Suppress warnings for clean notebook

In [4]:
import warnings
warnings.filterwarnings('ignore')

# Importing Data

In [6]:
df=pd.read_csv(r'C:/Users/AL MADINA COMPUTER/Desktop/Machine Learning/Melbourne_housing_FULL.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

# Selection of necessary columns

In [11]:
cols_to_use=['Suburb', 'Rooms', 'Type', 'Method', 'SellerG', 'Regionname', 'Propertycount', 'Distance', 'CouncilArea', 'Landsize', 'BuildingArea', 'Price']

df=df[cols_to_use]
df.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Landsize,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,4019.0,2.5,Yarra City Council,126.0,NaN,NaN
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,202.0,NaN,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,156.0,79.0,1035000.0
3,Abbotsford,3,u,VB,Rounds,Northern Metropolitan,4019.0,2.5,Yarra City Council,0.0,NaN,NaN
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,134.0,150.0,1465000.0

In [15]:
#df.isnull().sum()      #checking dataset specification like NaN, zero values
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

# Fill columns who have less number of NaN values with zero

In [20]:
cols_to_fill_zero=['Regionname', 'Propertycount', 'Distance', 'CouncilArea']

df[cols_to_fill_zero]=df[cols_to_fill_zero].fillna(0)

In [22]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           0
Propertycount        0
Distance             0
CouncilArea          0
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

# Filling the empty data set by taking the means of relevent columns

In [26]:
df['Landsize']= df['Landsize'].fillna(df.Landsize.mean())
df['BuildingArea']=df['BuildingArea'].fillna(df.BuildingArea.mean())

In [27]:
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          0
Propertycount       0
Distance            0
CouncilArea         0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [28]:
df.dropna(inplace=True)

In [29]:
df.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

# Converting the text columns to dummies variable

In [34]:
df=pd.get_dummies(df, drop_first=True)
df.head()

,Rooms,Propertycount,Distance,Landsize,BuildingArea,Price,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albanvale,Suburb_Albert Park,...,CouncilArea_Moorabool Shire Council,CouncilArea_Moreland City Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
1,2,4019.0,2.5,202.0,160.2564,1480000.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,4019.0,2.5,156.0,79.0000,1035000.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,3,4019.0,2.5,134.0,150.0000,1465000.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,3,4019.0,2.5,94.0,160.2564,850000.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,4,4019.0,2.5,120.0,142.0000,1600000.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

# Selection of input and target features

In [35]:
x=df.drop('Price', axis=1)
y=df['Price']

# Importing train_test_split

In [36]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=2)

# Linear Regression

In [38]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

In [39]:
reg.score(x_test, y_test)

-3060471398833.268

In [40]:
reg.score(x_train, y_train)

0.6703298561962809

# Importing Lasso model for L1 regularization to prevent from overfiting of model

In [42]:
from sklearn import linear_model
lasso_reg=linear_model.Lasso(alpha=50, max_iter=100, tol=0.1)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=50, max_iter=100, tol=0.1)

In [43]:
lasso_reg.score(x_train, y_train)

0.6660076123614205

In [44]:
lasso_reg.score(x_test, y_test)

0.6502332687568471

# Importing and using Ridge model for L2 regulrization to overcome overfitting of model

In [46]:
from sklearn.linear_model import Ridge
ridge_reg=linear_model.Ridge(alpha=50, max_iter=100, tol=0.1)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [49]:
ridge_reg.score(x_train, y_train)

0.6525292537322127

In [50]:
ridge_reg.score(x_test, y_test)

0.6429090227993242