In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix
import seaborn as sns

In [2]:
df=pd.read_csv(r'C:/Users/AL MADINA COMPUTER/Desktop/Machine Learning/Loan data.csv')
df.head()

   age  credit-rating  children         loan
0   19         27.900         0  16884.92400
1   18         42.130         1   1725.55230
2   28         33.000         3   4449.46200
3   33         22.705         0  21984.47061
4   32         28.880         0   3866.85520

In [3]:
x=df[['age', 'credit-rating', 'children']]
x.head()

   age  credit-rating  children
0   19         27.900         0
1   18         42.130         1
2   28         33.000         3
3   33         22.705         0
4   32         28.880         0

In [4]:
y=df[['loan']]
y.head()

          loan
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [5]:
x_train, x_test, y_train ,y_test = train_test_split(x,y, test_size=0.25)

In [6]:
model=LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [7]:
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(normalize=False)

In [8]:
y_pred=model.predict(x)
y_pred

array([[ 7112.83337518],
       [12486.35098463],
       [12745.16507912],
       ...,
       [10035.78310589],
       [ 6831.71510811],
       [17153.50449236]])

In [9]:
model.score(x_test, y_test)

0.12748233102212547

In [10]:
model.predict([[19, 27.900, 0]])

C:\Users\AL MADINA COMPUTER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[7112.83337518]])