In [4]:
import pandas as pd
import numpy as np
import math
from sklearn import linear_model
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv(r'C:/Users/AL MADINA COMPUTER/Desktop/Machine Learning/multivariate_regression.csv')
df.head(2)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000

In [9]:
df.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [10]:
df.bedrooms.median()

4.0

In [12]:
df['bedrooms']=df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [16]:
a=df.drop(['price'], axis='columns')

In [18]:
pr=df.price

In [19]:
pr

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [21]:
reg=linear_model.LinearRegression()
reg.fit(a, pr)

LinearRegression()

In [22]:
reg.predict([[4100, 6, 8]])

C:\Users\AL MADINA COMPUTER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([795258.55102673])

In [24]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [25]:
reg.intercept_

221323.00186540408