In [24]:
import pandas as pd
from sklearn.datasets import load_iris

In [25]:
iris=load_iris()

In [26]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [27]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [29]:
df=pd.DataFrame(iris.data, columns=iris.feature_names)

In [30]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [31]:
df['target']=iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [32]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [33]:
df[df.target==2].head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
100,6.3,3.3,6.0,2.5,2
101,5.8,2.7,5.1,1.9,2
102,7.1,3.0,5.9,2.1,2
103,6.3,2.9,5.6,1.8,2
104,6.5,3.0,5.8,2.2,2

In [41]:
df['flower_name']=df.target.apply(lambda x:iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flowers,flower_name
0,5.1,3.5,1.4,0.2,0,setosa,setosa
1,4.9,3.0,1.4,0.2,0,setosa,setosa
2,4.7,3.2,1.3,0.2,0,setosa,setosa
3,4.6,3.1,1.5,0.2,0,setosa,setosa
4,5.0,3.6,1.4,0.2,0,setosa,setosa

In [42]:
from matplotlib import pyplot as plt
%matplotlib inline

In [43]:
df0=df[df.target==0]
df1=df[df.target==1]
df2=df[df.target==2]

In [44]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flowers,flower_name
0,5.1,3.5,1.4,0.2,0,setosa,setosa
1,4.9,3.0,1.4,0.2,0,setosa,setosa
2,4.7,3.2,1.3,0.2,0,setosa,setosa
3,4.6,3.1,1.5,0.2,0,setosa,setosa
4,5.0,3.6,1.4,0.2,0,setosa,setosa

In [46]:
plt.scatter(df0['sepal length(cm)'], df0['sepal width(cm)'], color='green', marker='+')
plt.scatter(df1['sepal length(cm)'], df1['sepal width(cm)'], color='blue', marker='.')
#plt.xlabel('Special Length(cm)')
#plt.ylabel('Special Width(cm)')

KeyError: 'sepal length(cm)'

In [51]:
from sklearn.model_selection import train_test_split
X=df.drop(['target', 'flower_name', 'flowers'], axis='columns')
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [52]:
y=df.target

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [54]:
len(X_train)

120

In [55]:
len(y_train)

120

In [58]:
from sklearn.svm import SVC

In [68]:
model=SVC(kernel='linear')

In [69]:
model.fit(X_train, y_train)

SVC(kernel='linear')

In [70]:
model.score(X_test, y_test)

1.0